body {
	font-family: "Courier New";
	background-color: #000000;
	color: white;
	position: relative;
	height: 100vh;
}

.column {
	width: 50%;
	display: inline-block;
	height: 100vh;
	float: left;
}

#column2 button {
	background-color: #009e0c;
}

#column2 .on {
	background-color: #008000;
}

#column2 .off {
	background-color: #d60000;
}

h1 {
	color: #00DD00;
}

button {
	background-color: #008000;
	border: none;
	padding: 12px 28px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 250ms;
}

button[disabled] {
	background-color: #666;
	color: #ccc;
}

p {
	transition-duration: 1s;
}

#footer {
	font-size: 12px;
	position: fixed;
  bottom: 0%;
}

.on {
	background-color: #008000;
}

.off {
	background-color: red;
}

.hidden {
	display: none;
}