body {
	font-family: "Courier New";
	background-color: #000000;
	color: white;
	position: relative;
	height: 100%;
}

h1 {
	color: #00DD00;
}

.button {
	background-color: #008000;
	border: none;
	padding: 12px 28px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 250ms;
}

.button[disabled] {
	background-color: #666;
}

p {
	transition-duration: 1s;
}

#footer {
	font-size: 12px;
	position: fixed;
  bottom: 0%;
}
