body {
	font-family: "Courier New";
	background-color: #000000;
	color: white;
}

h1 {
	color: #00DD00;
}

.button {
	background-color: #008000;
	border: none;
	color: white;
	padding: 12px 28px;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: "Courier New"
}
